html {
  background-color: black;
  color: silver;
}

header { 
  display: inline-flex;
  position: absolute;
  top: 0px;
  left: 0;
  justify-content: space-around;
  background-color: grey;
  color: black;
  width: 100%;
  font-size: 1em;
}

nav {
  position: relative;
  top: 100px;
  left: 0px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: start;
  font-size: 1.2em;
}

nav ul li {
  padding: 0 20px;
}

nav a {
  color: grey;
}

nav a:hover {
  color: blue;
}

footer {
  background-color: silver;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
}

footer h3 {
  position: relative;
  top: -8px;
  padding-left: 20px;
}

.main {
  position: relative;
  top: 100px;
}

#about-info {
  text-align: justify;
  font-size: 1.05em;
  margin-right: 5em;
  width: 85%;
  padding-left: 5%;
}

.subsect1 {
  align-self: space-between;
  margin: 0px auto;
}

.sect1 {
  display: flex;
  justify-content: space-around;
}

.sect2 {
  display: flex;
  justify-items: space-around;
  margin: 50px;
  height: 600px;
}

.img1 {
  width: 85%;
  padding-left: 5%;
  padding-top: 5%;
}

.img2 {
  width: auto;
  margin: 0 2.5em;
  height: 90%;
}

.vid {
  width: 30%;
}

.educate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#learn1 {
  width: 80%;
  margin: 0 auto;
}

#learn2 {
  align-self: center;
  font-size: 1.3em;
  margin: 0 auto;
}

#learn3 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}